.footer {

  &__row {
    padding: 30px 0 35px 0;
    background: #2D3F53;
    &_bottom {
      padding: 12px 0;
      background: #253648;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    align-items: center;
    margin-right: 15px;
    &:last-child{margin:0px 0px 0px 0px;}
    &_btn {
      flex: 0 1 480px;
    }
  }

  &__logo {
    margin-right: 48px;
  }

  &__contact {
  }

  &__column-text {
    flex: 1 1 auto;
    font-size: 14px;
    line-height: 16.8px;
    color: #fff;
    margin-right: 19px;
  }

  &__popup-link {
    min-width: 165px;
  }

  &__copyright {
    font-size: 14px;
    line-height: 16.8px;
    color: #fff;
    opacity: 0.5;
  }

  &__policy {
    font-size: 14px;
    line-height: 16.8px;
    color: #fff;
    opacity: 0.5;
    text-decoration: underline;
  }
}









